# bore variables
root=/
src="$root"/src
opt="$root"/opt
bore="$src"/bore
borerc="$src"/bore.rc
boredb="$src"/bore.db

# dirs
ports="$src"/ports
sources="$src"/sources
work="$src"/work
pkgs="$src"/pkgs

# compiling
jobs=$(grep -c 'cpu cores' /proc/cpuinfo)
tcc='tcc -w'
gcc='gcc -w -s'
makeflags='-s'
ldflags=''
cflags='-Os -s -pipe'
cppflags='-Os -s -pipe'
cxxflags='-Os -s -pipe'

# downloads
curl_opts='-# --ssl'
git_opts='-q --progress --depth 1'

# options
keep_tarballs=true
mans=true  # install man pages?
docs=false # install extra documentation?
nls=false  # provide native-language-support?
quiet=true # configure/make silently?
debug=false # compile in debugging tools/information?

# package/version delimiter
# note: must be sane, (no #,/,*, etc...)
delim='-'
