# -/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/- #
#                                                         #
#            #                                            #
#            #                        O                   #
#            ##, ,##,',##, ,##  ,#,   ,                   #
#            # # #  # #''# #,,  # #   #                   #
#            '#' '##' #  #  ,,# '##;, #                   #
#                                                         #
#                                                         #
#           global autotool configure flags               #
#                                                         #
# -/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/- #

# -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
# Paths
# -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
SET prefix        "$pkg"/
SET bindir        "$pkg"/bin
SET sbindir       "$pkg"/bin
SET sysconfdir    "$pkg"/etc
SET includedir    "$pkg"/include
SET libexecdir    "$pkg"/lib
SET libdir        "$pkg"/lib
SET datadir       "$pkg"/share
SET localstatedir "$pkg"/var
SET localedir     "$pkg"/sucks
SET infodir       "$pkg"/sucks
SET docdir        "$pkg"/sucks
SET htmldir       "$pkg"/sucks
SET pdfdir        "$pkg"/sucks

# -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
# Enables
# -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
# Hardening
YES pic
YES malloc0returnsnull
YES shared
YES shared-libs
YES host-shared
YES dynamic

# Performance
YES fast-install
YES optimize

# Features / Plugins
YES wide-chars
YES xinerama

# -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
# Disables
# -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
# General
NO imake
NO warnings
NO option-checking
NO dependency-tracking
NO largefile
NO libtool-lock
NO profiling
NO gprof
NO gprof-libc
NO mime
NO btrfs
NO selinux

# Hardening
NO gnu-ld
NO rpath

# Sucks
NO nls
NO i18n
NO gnutls
NO pam
NO libpam
NO introspection
NO launchd
NO gnome
NO gnome-libs
NO kde
NO desktop
NO startup-notification
NO bash-completion
NO zsh-completion
NO fish-completion
NO valgrind
NO guile
NO ada

# NO DOCS!
NO documentation
NO doc
NO docs
NO gtk-doc
NO gtk-doc-html
NO gtk-doc-pdf
NO gtk-docs
NO gtk-docs-html
NO gtk-docs-pdf
NO devel-docs
NO build-docs
NO install-doc
NO install-docs
NO asciidoc
NO specs
NO specifications
NO doxygen
NO doxygen-html
NO doxygen-doc
NO doxygen-dot
NO doxygen-man
NO doxygen-rtf
NO doxygen-xml
NO doxygen-chm
NO doxygen-chi
NO doxygen-pdf
NO doxygen-ps
NO xmlto
NO fop
NO xsltproc
NO gettext
NO help-builtin

# NO TESTS!
NO tests
NO extratests
NO unit-tests
NO test-modules
NO install-test-programs
NO install-tests
NO gtktest
NO coverage
NO samples
NO examples
NO lint
NO lint-library
NO linting
NO debug
NO debugger
NO debug-mode
NO verbose-debug

# -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
# Breakage (enable if you dare...)
# -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
NO lto
NO static
NO static-link
NO static-libs
NO host-static

# vim:ft=config
